.footer {
    position: fixed !important;
    left: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    text-align: center !important;
    /* background-color: red; */
    /* color: white; */
}

/* body:not(.body-visable) { */
    /* padding-top: 3rem;  */
    /* padding-bottom: 3rem; */
    /* visibility: hidden; */
    /* background-color: #ebe8e8 !important; */
/* } */

